.nowPlaying{
  /* border: 1px solid red; */
  display: flex;
  gap: .5rem;
  align-items: center;
}

.nowPlaying-details {
  display: flex;
  gap: 1.5rem;
  align-items: center;

}

.nowPlaying-description a{
  text-decoration: none;
  display: block;
}

.nowPlaying-title{
  font: var(--baseFontBold);
  color: var(--white);
}

.nowPlaying-artist{
  font: var(--small);
  color: var(--gray10);

}

.nowPlaying-cover img{
  inline-size: 3.5rem;
  block-size: 3.5rem;
  vertical-align: middle;
}
