
.playerPlayback{
  display: flex;
  align-items: center;
  gap: .5rem;

}

.playerPlayback-slider{
  /* border: 1px solid yellow; */
  flex: 1;


}

.playerPlayback {
  /* border: 1px solid red; */
  font: var(--small);
  line-height: 1;
  color: var();

}