.playListB{
  /* border: 1px solid red; */
  display: flex;
  inline-size: 17.5rem;
  border-radius: .5rem;
  overflow: hidden;
  background: rgba(255, 255, 255, .1);
  transition: .3s background;
}

.playListB-details:hover,
.playListB-details:focus-within{
  background: rgba(255, 255, 255, .2);
  cursor: pointer;
}


.playListB-details{
  display: flex;
  padding: 1rem;
  gap: .5rem;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.playListB-cover {
  vertical-align: middle;
  inline-size: 4.75rem;
  block-size: 4.75rem;


}

.playListB-cover img{
  vertical-align: middle;
  inline-size: 100%;
  block-size: auto;
}

.playListB-title{
  color: var(--white);
  font: var(--baseFontBold);
  margin: 0;
}

.playListB-details:hover .playListB-control,
.playListB-details:focus-within .playListB-control {
  opacity: 1;
}

.playListB-control{
  opacity: 0;
  transition: .3s opacity;
}


